<h1 class="text-center" style="position: relative; top: 30px; margin-bottom: 30px;">Articles</h1>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

<%= render 'article' %>

<div class="text-center flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
