<div class="container">
<h1 class="text-center" style="position: relative; top: 20px; margin-bottom: 40px;"><%= @user.username %> profile</h1>
<%= gravatar_for @user, size: 150 %>

<h1 class="text-center" style="position: relative; top: 20px; margin-bottom: 40px;">Articles</h1>

<%= render 'articles/article'%>

</div>
