@import "bootstrap/dist/css/bootstrap";

html,
body {
  height: 100%;
}

.navbar {
  background-color: #000 !important;
}

.nav-link {
  color: white !important;
}

#logo-text {
  float: left;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d94a9cdd-7cc0-49ef-98ad-f4769b5f04a8/deud2jq-9f1a6be2-5368-4a8d-b7ce-565a441f6674.jpg/v1/fill/w_1024,h_576,q_75,strp/volition_by_linked_memories_deud2jq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvZDk0YTljZGQtN2NjMC00OWVmLTk4YWQtZjQ3NjliNWYwNGE4XC9kZXVkMmpxLTlmMWE2YmUyLTUzNjgtNGE4ZC1iN2NlLTU2NWE0NDFmNjY3NC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.So5BnADbnwPKVrtuO5fOwQjBxi0wx38qSIKNKlimh8I");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}

#home-container {
  position: relative;
  top: 30px;
  height: 85vh;
}
