@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: #000 !important;
}

.nav-link {
  color: white !important;
}

#logo-text {
  float: left;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d94a9cdd-7cc0-49ef-98ad-f4769b5f04a8/deud2jq-9f1a6be2-5368-4a8d-b7ce-565a441f6674.jpg/v1/fill/w_1024,h_576,q_75,strp/volition_by_linked_memories_deud2jq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvZDk0YTljZGQtN2NjMC00OWVmLTk4YWQtZjQ3NjliNWYwNGE4XC9kZXVkMmpxLTlmMWE2YmUyLTUzNjgtNGE4ZC1iN2NlLTU2NWE0NDFmNjY3NC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.So5BnADbnwPKVrtuO5fOwQjBxi0wx38qSIKNKlimh8I");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}

#home-container {
  min-height: 82vh;
  margin-top: 30px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.min-height {
  min-height: 85vh;
}

.flickr_pagination nav {
  position: relative;
  left: 47%;
}

.flickr_pagination {
  margin-top: 10px;
  width: 100%;
  padding: 0.3em;
  cursor: default;
}
.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
  padding: 0.2em 0.5em;
}
.flickr_pagination .disabled {
  color: #aaaaaa;
}
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}
.active > .page-link {
  background: rgb(66, 66, 66) !important;
  border-color: #666666 !important;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
  border-color: #111;
  background: #111;
  color: white;
}
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
.flickr_pagination .previous_page,
.flickr_pagination .next_page {
  border-width: 2px;
}
.flickr_pagination .previous_page {
  margin-right: 1em;
}
.flickr_pagination .next_page {
  margin-left: 1em;
}
