@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: #000 !important;
}

.nav-link {
  color: white !important;
}

#logo-text {
  float: left;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo-text:hover {
  color: rgb(6, 139, 77);
  text-decoration: none;
}
