<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white" style="left: 0; bottom: 0; width: 100%;">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Tim Frolov", "https://vk.com/dragneell9"%></small>
  </div>
</footer>